<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="People.Data.Properties.Settings.PeopleConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=People;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>